/*
Theme Name: SkeletonSaas
Theme URI: https://github.com/tidythemes/SkeletonSaas
Author: TidyThemes
Author URI: http://tidythemes.com/
Description: <strong>UPDATE</strong> - 4.0+ is here, completely overhauled, yet again. As always, <a href="http://tidythemes.com/concept/#upgrading">use caution when upgrading</a> (tidythemes.com/concept/#upgrading) and <a href="http://tidythemes.com/concept/">learn the TidyThemes concept</a> (tidythemes.com/concept). &nbsp; &rarr; <em><strong>CAUTION</strong>: If you're child theming or have clients that are child theming on top of SkeletonSaas (not the recommended use), please do not blindly upgrade to newer versions.</em> &nbsp; &rarr; <strong>DESCRIPTION</strong>: SkeletonSaas is the definitive WordPress HTML5 boilerplate starter theme. We've carefully constructed the most clean and minimalist theme available anywhere for designers/developers to use as a base/foundation to build websites for clients or to build completely custom themes from scratch to release faster. Clean, semi-minified, unformatted and valid code, SEO-friendly, no programmer comments, standardized and as white label as possible and most importantly, CSS reset for cross-browser-compatability and no intrusive visual CSS styles added whatsoever. A perfect skeleton theme that blows any others like it (the subsequent underscores.me for example) completely out of the water, as they're simply too overcomplicated for what people really want in this kind of theme. Now comes with jQuery enqueued and ready to go. &nbsp; &rarr; <strong>SUPPORT</strong>: Please use the <a href="http://tidythemes.com/forum/">official support forum</a> (tidythemes.com/forum). Comments and suggestions for improving SkeletonSaas, please see "<a href="http://tidythemes.com/tidythemes-sucks/">TidyThemes Sucks!</a>" (tidythemes.com/tidythemes-sucks). Just getting started? <a href="http://tidythemes.com/want-to-learn-css/">Want to learn CSS?</a> (tidythemes.com/want-to-learn-css) &nbsp; &rarr; <strong>WHAT'S NEW?</strong>: We stripped down as much custom, extraneous, superfluous junk code as we could and greatly improved the HTML5 structure. <a href="http://make.wordpress.org/themes/author/chipbennett/">Chip Bennett</a> (make.wordpress.org/themes/author/chipbennett), a highly experienced programmer and official WordPress administrator, worked closely with us to audit the theme code for quality. <a href="http://themes.trac.wordpress.org/changeset?old_path=/SkeletonSaas/3.3&new_path=/SkeletonSaas/4.0">See</a> (themes.trac.wordpress.org/changeset?old_path=/SkeletonSaas/3.3&new_path=/SkeletonSaas/4.0) just how much we've revamped things. Last, but not least, SkeletonSaas has now been <a href="https://github.com/tidythemes/SkeletonSaas">opened up on GitHub</a> (github.com/tidythemes/SkeletonSaas) if anyone would like to make suggested code additions/improvements. Thank you for using SkeletonSaas.
Version: 4.0.4
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Tags: one-column, two-columns, custom-menu, featured-images, microformats, sticky-post, threaded-comments, translation-ready
Text Domain: SkeletonSaas

SkeletonSaas WordPress Theme © 2011-2017 TidyThemes
SkeletonSaas is distributed under the terms of the GNU GPL
*/




html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{font-size:100%;font:inherit;padding:0;border:0;margin:0;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}.clear{clear:both}
.sticky{}.bypostauthor{}.wp-caption{}.wp-caption-text{}.gallery-caption{}.alignright{}.alignleft{}.aligncenter{}.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important}


/* WEB FONTS */
html body {
    font-weight: 100;
}

/* END WEB FONTS */
h2.homepage-feature-heading {
    font-size: 1.8rem;
    padding-left: 20px;
}

.container-under-fixed-header {
    padding-top: 120px;
}
/* HEADERS */
.force-right {
    text-align: right;
}

/* FOOTER STUFF */
.footer, #footer { 
    background-color:#333333;
}

.footer a, #footer a {
    color: #cccccc;
}

.footer-menu, .footer-notices {
    font-size: 9pt;
    padding-top: 20px;
    color: #cccccc;
}

.footer-notices {
    text-align: right;
}

/* END FOOTER STUFF */


/* TOP NAV MENU STUFF */
nav#menu {
    text-align:right;
}
.main-menu li.menu-item {
    display:inline-block;
    margin-right: 10px;
}

#menu-nav-menu {
    text-align: right;
}

.get-started-main-menu li.menu-item {
    background-color: #007bff;
    border-radius: 5px;
    padding: 5px 10px;
}

.get-started-main-menu li.menu-item a {
    color: #ffffff;
}

.main-menu {
    display:inline-block;
    margin-top: 20px;
    text-align: right;
}
/* END TOP NAV MENU STUFF */

/* TOP LEFT BRANDING STUFF */
header#header {
    position:fixed;
    z-index: 2;
    width: 100%;
}
.with-shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
#branding {
    margin-top: 20px;
}
#site-title h1 {
    font-size: 18pt;
}

/* END TOP LEFT BRANDING STUFF */


/* MAIN BODY STUFF */
#container {
    min-height: 450px;
}

/* END MAIN BODY STUFF */

/* HOMEPAGE FEATURES */


.hero-callout {
    padding-top: 100px;
    padding-bottom: 100px;
}
.homepage-feature-row {
    padding-top: 60px;
}

.feature_list {
    padding-bottom: 60px;
}
.feature-copy {
    padding: 20px;
}

.btn.btn-rounded {
    border-radius: 20px;
}
.btn.btn-extra-padding {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.cta-menu-wrapper .nav-item {
    margin-left: 40px;
}
.cta-menu-wrapper .nav-item a.nav-link {
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;

}

.cta-menu-wrapper .nav-item a.nav-link:hover, .cta-menu-wrapper .nav-item a.nav-link:focus {
    color: #ffffff;
}

.cta-menu-wrapper .nav-item {
    border-radius: 20px;
    background-color: #2980b9;
    border-color: #2980b9;
}
/* END HOMEPAGE FEATURES */